@model IEnumerable<WebDemo.Models.JapaneseWord>
<p>

</p>
<br />


@foreach (var item in Model)
{

    <div class="dictionary_entries">
        <br />
        <p>
            <!-- The WORD! -->
            <span class="symbol_word_phrase">
                Word/Symbol/Phrase
            </span>
            <span class="symbol_word_phrase_content">
                <br />
                @Html.DisplayFor(modelItem => item.Kanji)
            </span>
        </p>
        <!-- Related details -->
        <!-- Headers -->
        <p>
            <table>
                <tr>
                    <td>
                        <span class="dictionary_headers">
                            @Html.DisplayNameFor(model => model.Hiragana)
                        </span>
                    </td>
                    <td>
                        <span class="dictionary_headers">
                            @Html.DisplayNameFor(model => model.Romaji)
                        </span>
                    </td>
                    <td>
                        <span class="dictionary_headers">
                            Mother Tongue
                        </span>
                    </td>
                    <td>
                        <span class="dictionary_headers">
                            Mother Tongue Translation
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="dictionary_content">  @Html.DisplayFor(model => item.Hiragana) </span>
                    </td>
                    <td>
                        <span class="dictionary_content">   @Html.DisplayFor(model => item.Romaji)  </span>
                    </td>
                    <td>
                        <span class="dictionary_content">    @Html.DisplayFor(model => item.MotherTongueTranslationLabel)  </span>
                    </td>
                    <td>
                        <span class="dictionary_content">  @Html.DisplayFor(model => item.MotherTongueTranslation)  </span>
                    </td>
                </tr>
            </table>
        </p>
        <!--Content-->

        <br />
        <!-- text area -->
        <p>
            <span class="dictionary_headers">
                @Html.DisplayNameFor(model => model.AdditionalText)
            </span>
            <br />
            <span class="dictionary_text_area">
                @Html.DisplayFor(modelItem => item.AdditionalText)
            </span>
        </p>
        <!-- editing possibilities-->
        <span>
            @Html.ActionLink("Edit", "Edit","MyDictionary", new {  id=item.EntryID } ,null) |
            @Html.ActionLink("Delete", "Delete", "MyDictionary", new { id = item.EntryID},null)
        </span>

        <br />
    </div>
}

