@model IEnumerable<WebDemo.Models.JapaneseWord>

@{
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kanji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hiragana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Romaji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherTongueTranslation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherTongueTranslationLabel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kanji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hiragana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Romaji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherTongueTranslation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherTongueTranslationLabel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
